
/* Ensure modal isn't sitting on the top of the page */
.modal-card {
	padding-top: 10%


}

/* Fix Bulma's modal elements on mobile displays */
@media screen and (max-width: 800px) {
	.modal-card {
		width: 90%;
		margin:auto;
	}
}
